.profileBlock {
  height: 100%;
  margin: 0 auto;
}
.headActions {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profileContainer {
  display: flex;
  justify-content: center;
}
.profile {
  width: 413px;
  height: 360px;
  background: #ffffff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
