.input:focus {
}

.input {
  width: 276px;
  height: 36px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 8px 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.superInput {
}

.errorInput {
  border: 1px solid #cc1439;
  border-radius: 5px;
}

.errorInput:focus {
}

.error {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #cc1439;
  position: absolute;
  left: 0px;
  top: -17px;
}
