@import "src/common/styles/mixins.scss";
//

.formContainer {
  @include flex-block(flex, column, center, center);
  width: 360px;
  height: 100%;
  .formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    .description {
      margin-top: 10px;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      opacity: 0.5;
    }
    label {
      font-size: 14px;
    }
    h3 {
      color: #000000;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      margin: 0;
      margin-bottom: 35px;
      padding: 0;
    }
    p {
      color: #bf1650;
      margin: 4px 0 0;
      padding: 0;
    }
    p::before {
      display: inline;
      content: "⚠ ";
    }
    .actions {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
    }

    .question {
      margin-top: 30px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      opacity: 0.5;
    }
    .linkRegister {
      margin-top: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-decoration-line: underline;
      color: #366eff;
    }
  }
}
